@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {
    background-color: rgb(52, 52, 52);
    font-family: "Google Sans";
    font-weight: 300;
    
}

.container {
    padding: 20px;
    margin: 100px auto 0;
    background-color: rgb(255, 255, 255);
    width: 450px;
    min-height: 300px;
    max-height: 500px;
    border-radius: 10px;

}

    
input {
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 15px;
    height: 40px;
    font-family: "Noto sans";
    font-weight: 450;
}
#add-task {
    border: 0px;
    border-radius: 10px;
    height: 40px;
    padding: 0px 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-left: 0px;
}
#add-task:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

#add-task {
    transition: 0.5s;
}
li {
    min-height: 14px;
    max-height: 50px;
    min-width: 350px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 10px;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    pad
}
li > img {
    min-height: 24px;
    min-width: 24px;
    max-width: 50px;
    max-height: 50px;
    background-size: cover;
}
